<% if @slider.blank? %>
  <% if @is_admin && @is_admin == true %>
    <div class="help_info">
      <h4>幻灯片帮助</h4>
      <p>如果想要添加幻灯片功能, 那么请新建一个叫做"幻灯片"的目录, 在里面添加你想要的照片就可以, 照片的描述也同样会添加到幻灯片的对应的图片中</p>
    </div>
  <% end %>
<% else %>
  <div id="featured">
    <% for image in @slider %>
      <%= image_tag(image.img.url, "data-caption"=>"#caption_#{image.id}") %>
    <% end %>
    <% for image in @slider %>
      <span class="orbit-caption" id="caption_<%= image.id %>">
        <%= image.description %>
      </span>
    <% end %>
  </div>
<% end %>
<% if @is_admin && @is_admin == true %>
  <%= page_title("目录管理") %>
  <ul class="catogory_field">
  <% @catogories.each do |catogory| %>
    <li>
      <div class="catogory_item">
        <div class="catogory_name" style="font-size: 20px;">
          <%= link_to(catogory.name, catogory) %>
        </div>
        <div class="catogory_function">
          <%= link_to '编辑', edit_catogory_path(catogory) %>
          <%= link_to '删除', catogory, :confirm => 'Are you sure?', :method => :delete %>
        </div>
      </div>
    </li>
  <% end %>
  </ul>

  <%= link_to '新建目录', new_catogory_path %>
<% end %>
